[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/Sukhvansh2004/franka_ros.git
[submodule "franka_ros_mujoco"]
	path = franka_ros_mujoco
	url = https://github.com/Sukhvansh2004/franka_ros_mujoco.git
[submodule "mujoco_ros_pkgs"]
	path = mujoco_ros_pkgs
	url = https://github.com/Sukhvansh2004/mujoco_ros_pkgs.git
[submodule "GraspGen"]
	path = GraspGen
	url = https://github.com/Sukhvansh2004/GraspGen.git
