<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    This file defines a simple graspable box to be included in the world.
  -->
  <xacro:macro name="graspable_box" params="name x y z">
    <body name="${name}" pos="${x} ${y} ${z}">
      <geom name="${name}_geom" type="box" size="0.02 0.02 0.025" rgba="1 0 0 1" mass="0.1"
            friction="2.0 0.1 0.1" solimp="0.99 0.99 0.01" solref="0.01 1" />
      <joint name="${name}_joint" type="free"/>
    </body>
  </xacro:macro>
</robot>

