<launch>
  <arg name="use_suction_gripper_0" default="false" />
  <arg name="use_suction_gripper_1" default="true" />

  <param name="/is_simulation" value="true" />
  <node name="gripper_test"
        pkg="dual_arm_control"
        type="gripper_move.py"
        output="screen"
        launch-prefix="bash -c 'sleep 5; $0 $@' ">
    <param name="use_suction_gripper_0" value="false" />
    <param name="use_suction_gripper_1" value="true" />
  </node>
</launch>