<launch>

    <!-- Define an argument to control the namespace prefix -->
    <arg name="num_poses" default="20" doc="Maximum number of poses to save." />

    <!-- You could launch a second recorder for a different robot here: -->
    <group ns="L_panda">
        <node 
            pkg="dual_arm_control" 
            type="record_grasps.py" 
            name="grasp_recorder" 
            output="screen"
        >
            <param name="num_poses_to_save" value="$(arg num_poses)" />
        </node>
    </group>

    <group ns="R_panda">
        <node 
            pkg="dual_arm_control" 
            type="record_grasps.py" 
            name="grasp_recorder" 
            output="screen"
        >
            <param name="num_poses_to_save" value="$(arg num_poses)" />
        </node>
    </group>

    <node name="pose_recorder"
            pkg="dual_arm_control"
            type="record_poses.py"
            output="screen" />

</launch>